@model StudentsManager.Models.Student
@{
    ViewBag.Title = "AddStudent";
}
<div class="container">
    <h2>AddStudent</h2>
    @using (Html.BeginForm())
    {
        @*@Html.ValidationSummary()*@
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(x => x.FirstName)
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.LastName)
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.EmailAddress, "Email")
                @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Age)
                @Html.TextBoxFor(x => x.Age, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Age, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.gender, "Gender")
                <br />
                @Html.LabelFor(x => x.gender, "Male")
                @Html.RadioButtonFor(x => x.gender, "Male")
                @Html.LabelFor(x => x.gender, "Female")
                @Html.RadioButtonFor(x => x.gender, "Female")
                @Html.LabelFor(x => x.gender, "Other")
                @Html.RadioButtonFor(x => x.gender, "Other")
                <br />
                @Html.ValidationMessageFor(x => x.gender, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.DepartmentId, new SelectList(ViewBag.DepartmentName, "DepartmentID", "DepartmentName"), "Select Department")
            </div>
            <div class="form-group">
                <input type="submit" value="Add Student" class="btn btn-primary" />
                <button type="reset" class="btn btn-danger">Reset</button>
            </div>
        </div>
    }

    @Html.ActionLink("Back to Student's list", "Index", "Home")
</div>