@model IEnumerable<StudentsManager.Models.Student>
@{
    ViewBag.Title = "HomePage";
}

<h2>Welcome To Student's Manager</h2>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Actions</th>
    </tr>
    @foreach (var students in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(item => students.StudentId)
            </td>
            <td>
                @Html.DisplayFor(item => students.FirstName)
            </td>
            <td>
                @Html.DisplayFor(item => students.LastName)
            </td>
            <td>
                @Html.DisplayFor(item => students.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(item => students.Age)
            </td>
            <td>
                @Html.DisplayFor(item => students.gender)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = students.StudentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = students.StudentId }, new { @class = "text-danger" })
            </td>
        </tr>
    }



</table>

@Html.ActionLink("Add New Student", "AddStudent", "Home")