@model StudentsManager.Models.StudentDepartment
@{
    Layout = null;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.StudentId)

        <div class="form-group">
            @Html.LabelFor(x => x.FirstName)
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.LastName)
            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.EmailAddress, "Email")
            @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Age)
            @Html.TextBoxFor(x => x.Age, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Age, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Gender, "Gender")
            <br />
            @Html.LabelFor(x => x.Gender, "Male")
            @Html.RadioButtonFor(x => x.Gender, "Male")
            @Html.LabelFor(x => x.Gender, "Female")
            @Html.RadioButtonFor(x => x.Gender, "Female")
            @Html.LabelFor(x => x.Gender, "Other")
            @Html.RadioButtonFor(x => x.Gender, "Other")
            <br />
            @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.DepartmentId, new SelectList(ViewBag.DepartmentName, "DepartmentID", "DepartmentName"), "Select Department")
            @Html.ValidationMessageFor(x => x.DepartmentId, "", new { @class = "text-danger" })        
    @*@Html.DropDownList("DepartmentName", "-- Select --")*@
        </div>
        <div class="form-group">
            <input type="submit" value="Update Student" class="btn btn-primary" />
        </div>
    </div>
}