@model IEnumerable<StudentsManager.Models.Department>
@{
    ViewBag.Title = "ViewDepartment";
}

<h2>ViewDepartment</h2>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>ID</th>
        <th>Department Name</th>
        <th>Department Location</th>
    </tr>
    @foreach (var departments in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(item => departments.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(item => departments.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(item => departments.DepartmentLocation)
            </td>
        </tr>

    }
</table>
@Html.ActionLink("Back to Student's List","Index","Home") |
@Html.ActionLink("Add New Department","AddDepartment","Home")
